@import "reset.less";
@import "common.less";
body{
    background: #e1e1e1;
}
.nav{
    height: 50px;
    background: #444;
    .nav-inner{
        width: 1400px;
        height: 50px;
        margin: 0 auto;
    }
    .nav-list{
        font-size: 13px;
        height: 50px;
        line-height: 50px;
        li{
            float: left;
            margin-right: 20px;
            a{
                color: #ccc;
                text-decoration: none;
                &:hover{
                    color: #fff;
                }
            }
        }
    }
}
.container{
    width: 1400px;
    padding: 0;
}
.login-form{
    margin-top: 30px;
}
.login-sec{
    background: #fff;
    margin-top: 20px;
    padding-bottom: 50px;
    border-radius: 3px;
}